@use './variables.scss' as *;
@use './navbar.scss';
@use './custom_class.scss';
@use './hero.scss';
@use './footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700&display=swap');
body {
  font-family: $base-font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
