@use './utils/variables.scss' as *;
@use './component/navbar.scss';
@use './utils/custom_class.scss';
@use './component/hero.scss';
@use './component/footer.scss';
@use './component/explore.scss';
@use './component/restaurants-list.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');
body {
  font-family: $base-font;
  background-color: $white-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 8vh;
  min-height: 87vh;
}
