@use './utils/variables.scss' as *;
@use './component/navbar.scss';
@use './utils/custom_class.scss';
@use './component/hero.scss';
@use './component/footer.scss';
@use './component/explore.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700&display=swap');
body {
  font-family: $base-font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 8vh;
  min-height: 87vh;
}
